$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

// Viewports
$viewports: (
  // 'null' disable the viewport on a breakpoint
  sm: 510px,
  md: 700px,
  lg: 920px,
  xl: 1130px
) !default;
* {
  font-family: "Oxygen", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #333;
}
body {
  margin: 2% auto;
  width: 60%;
  @if map-get($breakpoints, "md") {
    @media (max-width: map-get($breakpoints, "md")) {
      width: 95%;
    }
  }
}
