nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  // background-color: white;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      strong {
        font-weight: bold;
      }

      // .link {
      //   background-color: #1e88e5;
      //   color: #fff;
      //   text-decoration: none;
      //   padding: 5px 10px;
      //   border-radius: 5px;
      // }
    }
  }
}
